ul.left {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-large {
  background-color: #322938;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
}

.btn-large:hover {
  background-color: #89a194;
  color: #444;
}

svg {
  cursor: pointer;
}

.loading {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

span.badge.new {
  background-image: linear-gradient(
    rgb(255, 61, 0),
    rgb(179, 49, 10) 85%,
    rgb(240, 97, 53)
  );
}

span.badge.new:after {
  content: " CREDITS";
}

a.active:hover {
  background-color: transparent;
}

/* .loader {
  font-size: 10px;
  margin: 0 70px;
  text-indent: -9999em;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #89a194;
  background: -moz-linear-gradient(
    left,
    #a14016 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #89a194 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #89a194 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #322938 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #89a194 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #89a194;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  background: #a14016;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader::after:hover {
  background: #89a194;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */
